body h1 {
  color: #c69;
}

.btn-primary, .btn-secondary {
  padding: 2px 10px;
  border-radius: 2px;
  border-style: solid;
}

.btn-primary:disabled, .btn-secondary:disabled {
  opacity: 0.5;
}

.btn-primary {
  background-color: #c46;
  color: white;
}

.btn-secondary {
  background-color: #edbcc8;
  color: black;
}
