body h1 {
  color: #c69;
}

.btn {
  padding: 2px 10px;
  border-style: solid;
  border-width: 1px;
  line-height: 20px;
  border-radius: 2px;
}

.btn.btn--mode-primary {
  background-color: #c46;
  color: #fff;
}

.btn:disabled {
  opacity: 0.5;
}

.btn:disabled .btn__price {
  background-color: #aaaaaa;
  color: #ffffff;
}

.btn.btn--mode-secondary {
  background-color: #edbcc8;
  color: #000;
}

.btn__price {
  padding: 1px 3px;
  background-color: #008000;
}
